<!DOCTYPE html>
<html>
	<head>
		<meta charset=UTF-8>
		<title>Musiko</title>
		<link rel=stylesheet href=app/style.css>
		<!-- https://electronjs.org/docs/tutorial/security#csp-meta-tag -->
		<script src=app/icons.js></script>
		<script src=app/lang.js></script>
		<script src=app/vue.js></script>
		<script src=app/components/Banner.js></script>
		<script src=app/components/Album.js></script>
		<script src=app/components/Tracks.js></script>
		<script src=app/components/Albums.js></script>
		<script src=app/components/AsideQueue.js></script>
		<script src=app/components/AsideSearch.js></script>
		<script src=app/components/AsideAlbum.js></script>
		<script src=app/components/AsideTrack.js></script>
		<script src=app/components/AsideArtist.js></script>
		<script src=app/components/AsideParams.js></script>
		<script src=app/components/AsidePan.js></script>
	</head>
	<body>
		<div id=splash><img src=assets/spinner.svg></div>
		<div id=app>
			<Banner :app=a></Banner>
			<div class=allAlbums>
				<div class=albumsGrid>
					<Album v-for="album, i of a.lists" :key="'list'+i" :app=a :album=album :goto=false playlist=yes :concise=true></Album>
					<Album v-for="album, i of a.lastAlbums" :key="'last'+i" :app=a :album=album :goto=false playlist=no :concise=true></Album>
				</div>
				<div v-if="a.albums.length > 0">
					<div class=title1 style=padding-left:20px;margin-top:30px;>
						{{a.albums.length}} <span class=iconStatic v-html=I.album></span>
					</div>
					<div class=albumsGrid>
						<Album v-for="album, i of a.albums" :key=i :app=a :album=album :goto=true playlist=no :concise=true></Album>
					</div>
				</div>
			</div>
			<Asidepan :app=a :tabs=tabs :tab=tab></Asidepan>
			<audio id=audio></audio>
		</div>
		<script>
			const spinner = document.getElementById('splash')
			setInterval(() => spinner.classList.add('mask'), 1000)
			setTimeout(() => spinner.style.display = 'none', 2000)
		</script>
		<script src=app.js></script>
	</body>
</html>
