//dark
$clr1BG: rgb(19, 19, 20); //fond
$clr1TEXT: #b6bbc7; //texte
$clr1ACCENT: #d02121; //les trucs très spéciaux
$clr1TEXT_HOVER: lighten($clr1TEXT, 30%);
$clr1BG_l1: lighten($clr1BG, 4%);
$clr1BG_l2: lighten($clr1BG, 12%);

:root { //dark by default
	--clrBG: #{$clr1BG};
	--clrTEXT: #{$clr1TEXT};
	--clrACCENT: #{$clr1ACCENT};
	--clrTEXT_HOVER: #{$clr1TEXT_HOVER};
	--clrBG_l1: #{$clr1BG_l1};
	--clrBG_l2: #{$clr1BG_l2};
}
[data-theme="dark"] {
	--clrBG: #{$clr1BG};
	--clrTEXT: #{$clr1TEXT};
	--clrACCENT: #{$clr1ACCENT};
	--clrTEXT_HOVER: #{$clr1TEXT_HOVER};
	--clrBG_l1: #{$clr1BG_l1};
	--clrBG_l2: #{$clr1BG_l2};
}
[data-theme="deepblue"] {
	--clrBG: #141227;
	--clrTEXT: #7393ff;
	--clrACCENT: #ff0d0d;
	--clrTEXT_HOVER: #fff;
	--clrBG_l1: #1b1835;
	--clrBG_l2: #292551;
}
[data-theme="forest"] {
	--clrBG: #091009;
	--clrTEXT: #a8ccac;
	--clrACCENT: #da2727;
	--clrTEXT_HOVER: #e7f5d0;
	--clrBG_l1: #102313;
	--clrBG_l2: #415d44de;
}
[data-theme="purple"] {
    --clrBG: #000;
    --clrTEXT: #5b9ef1;
    --clrACCENT: #ea073c;
    --clrTEXT_HOVER: #6ad8f1;
    --clrBG_l1: #070817;
    --clrBG_l2: #390e3e;
}
[data-theme="neon"] {
    --clrBG: #000;
    --clrTEXT: #00ff89;
    --clrACCENT: #ea073c;
    --clrTEXT_HOVER: #58f0ff;
    --clrBG_l1: #0e0e04;
    --clrBG_l2: #310946;
}
[data-theme="greyscale"] {
	--clrBG: #ccc;
	--clrTEXT: #555;
	--clrACCENT: #000;
	--clrTEXT_HOVER: #000;
	--clrBG_l1: #ccc;
	--clrBG_l2: #bfbfbf;
}
[data-theme="sand"] {
	--clrBG: #eed695;
	--clrTEXT: #584326;
	--clrACCENT: #cf3000;
	--clrTEXT_HOVER: #000;
	--clrBG_l1: #ebcf83;
	--clrBG_l2: #e6c260;
}
[data-theme="sail"] {
	--clrBG: #fff;
	--clrTEXT: #2e5779;
	--clrACCENT: #cf0000;
	--clrTEXT_HOVER: #04070a;
	--clrBG_l1: #fff;
	--clrBG_l2: #d7ebf9;
}
[data-theme="opaline"] {
    --clrBG: #c0dcbb;
    --clrTEXT: #236742;
    --clrACCENT: #307fe0;
    --clrTEXT_HOVER: #000;
    --clrBG_l1: #b1d6b9;
    --clrBG_l2: #a0cab9;
}
[data-theme="amaranth"] {
    --clrBG: #a95656;
    --clrTEXT: #291313;
    --clrACCENT: #c2c3d8;
    --clrTEXT_HOVER: #000;
    --clrBG_l1: #b76363;
    --clrBG_l2: #d06f6fc7;
}

* {box-sizing: border-box; user-select: none;}
::-webkit-scrollbar {width: 12px; height: 0;}
::-webkit-scrollbar-thumb {background: var(--clrBG_l2);}
::-webkit-scrollbar-track {background: transparent;}

body {
	cursor: default;
	margin: 0;
	background: var(--clrBG);
	color: var(--clrTEXT);
	font: .9rem system-ui;
	fill: var(--clrTEXT);
}
.hover {
	cursor: pointer;
	color: var(--clrTEXT_HOVER);
	img {filter: brightness(1.1);}
}
img {
	width: 100%;
	max-width: 300px;
	outline: 2px solid var(--clrBG_l1);
	outline-offset: -2px;
	cursor: pointer;
}
a {
	text-decoration: none;
	color: var(--clrTEXT);
	&:hover {
		color: var(--clrTEXT_HOVER);
	}
}
.title1 {
	font-size: 1.2em;
	font-weight: bold;
	width: calc(100% - 1px);
}
.iconStatic {
	vertical-align: middle;
	display: inline-block;
	transition:.3s;
	&.rotate {transform: rotate(90deg) translateY(1px) translateX(-2px); transition:.3s;}
	&.noLeft {margin-left: -10px;}
}
.less {
	font-size: .9em;
	opacity: .7;
}
.miniBt {
	font-size: .9em;
	padding: 2px 4px;
	margin: 0 2px 2px 0;
	display: inline-block;
	cursor: pointer;
	background: var(--clrBG_l2);
	&:hover {
		background: var(--clrBG);
		color: var(--clrTEXT_HOVER);
		box-shadow: 0 5px 10px var(--clrBG_l2);
	}
}
.blink {
	animation: blinker .2s linear infinite;
	@keyframes blinker {50% {opacity: 0;}}
}
aside {
	top: 50px;
    position: absolute;
    bottom: 0;
    width: 340px;
    z-index: 10;
	background: var(--clrBG_l1);
	border-right: 1px solid var(--clrBG_l2);
	nav {
		background: var(--clrBG_l2);
		position: fixed;
		bottom: 0;
		width: 340px;
		height: 40px;
		text-align: center;
		& > * {
			display: inline-block;
			padding: 5px 11px;
			fill: var(--clrTEXT);
			cursor: pointer;
			&:hover {fill: var(--clrTEXT_HOVER);}
			&.active {
				fill: var(--clrTEXT_HOVER);
				background: var(--clrBG_l1);
			}
		}
	}
	.panel {
		position: absolute;
		top: 0;
		bottom: 39px;
		overflow-y: auto;
		width: 340px;
		.title1 {
			background: var(--clrBG);
			margin: 10px 0;
			padding: 5px 20px;
			&.toggle {
				cursor: pointer;
				&:hover {color: var(--clrTEXT_HOVER);}
			}
		}
		.title2 {
			padding: 5px 20px 0;
			font-size: 1.1em;
			font-weight: bold;
			width: calc(100% - 1px);
		}
		.lyrics {
			position: fixed;
			background: var(--clrBG);
			top: 50px;
			left: 340px;
			right: 0;
			bottom: 0;
			overflow-y: auto;
			padding: 40px;
			z-index: 1;
			line-height: 1.7em;
			font-size: 1.1em;
		}
		.btClose {
			z-index: 1;
			position: fixed;
			top: 60px;
			right: 10px;
			width: 50px;
			height: 50px;
			cursor: pointer;
			fill: var(--clrTEXT);
			&:hover {fill: var(--clrTEXT_HOVER);}
		}
		.btClear {
			width: 50px;
			height: 50px;
			margin-left: -15px;
			cursor: pointer;
			fill: var(--clrTEXT);
			&:hover {fill: var(--clrTEXT_HOVER);}
		}
		
		.searchResult {
			display: flex;
			border-bottom: 1px solid var(--clrBG_l2);
			padding: .2em 20px;
			align-items: center;
			cursor: pointer;
			&:hover {background: var(--clrBG_l2);}
			&.read {
				border-left: 2px solid var(--clrACCENT);
				padding-left: 18px;
				color: var(--clrTEXT_HOVER);
				font-style: italic;
			}
			&.remove {
				&:hover{text-decoration: line-through;}
			}
			.pointerRead {
				display: block;
				position: absolute;
				left: 7px;
				width: 6px;
				height: 6px;
				transform: rotate(45deg);
				background: var(--clrACCENT);
			}
		}
		.indexs {
			padding: 5px 20px;
			& > * {
				background: var(--clrBG_l2);
				width: calc(100% / 9);
				height: 33px;
				line-height: 33px;
				text-align: center;
				display: inline-block;
				cursor: pointer;
				border: 1px solid var(--clrBG_l1);
				font-weight: bold;
				&:hover {
					background: var(--clrBG);
					color: var(--clrTEXT_HOVER);
					border: 1px solid var(--clrBG_l2);
				}
			}
		}
		.tags {
			padding: 5px 20px;
			& > * {
				background: var(--clrBG_l2);
				padding: 3px 6px;
				display: inline-block;
				cursor: pointer;
				border: 1px solid var(--clrBG_l1);
				&:hover {
					background: var(--clrBG);
					color: var(--clrTEXT_HOVER);
					border: 1px solid var(--clrBG_l2);
				}
			}
		}
		input, select {
			border: none;
			background: var(--clrBG_l2);
			color: var(--clrTEXT);
			width: 100%;
			padding: 5px 8px;
			font-size: 1.1em;
			&:focus {outline-color: var(--clrACCENT);}
		}
		.list{
			display: flex;
			border-bottom: 1px solid var(--clrBG_l2);
			padding: .1em 20px;
			align-items: center;
			&:first-child{margin-right: 5px;}
		}
		.bt {
			background: var(--clrBG_l2);
			padding: 3px;
			cursor: pointer;
			width: 20%;
			text-align: center;
			&:hover {
				background: var(--clrBG);
				fill: var(--clrTEXT_HOVER);
				color: var(--clrTEXT_HOVER);
				box-shadow: 0 5px 10px var(--clrBG_l2);
			}
			&.btPath {
				text-align: left;
				font-size: .8em;
				width: 100%;
				background: none;
				border-bottom: 1px solid var(--clrBG_l2);
			}
		}
	}
}
header {
	.topbar {
		padding: 0;
		position: fixed;
		top: 0;
		width: 100%;
		height: 50px;
		background: var(--clrBG_l2);
		z-index: 1;
		.playing {
			font-size: 1.1em;
			text-align: center;
			right: 70px;
			left: 220px;
			display: flex;
			justify-content: center;
			align-content: center;
			flex-direction: column;
			height: 100%;
			top: 0;
			position: absolute;
			cursor: pointer;
			overflow: hidden;
			line-height: 1.1em;
			&:hover {color: var(--clrTEXT_HOVER);}
		}
		.icon {
			width: 50px; height: 50px;
			line-height: 50px;
			display: inline-block;
			cursor: pointer;
			vertical-align: middle;
			& > * {fill: var(--clrTEXT);}
			&:hover > * {fill: var(--clrTEXT_HOVER); background: var(--clrBG_l1);}
			&.btDisabled {
				cursor: default;
				opacity: .2;
				&:hover > *  {background: transparent !important; fill: var(--clrTEXT);}
			}
		}
		.iconRight {
			position: fixed;
			top: 0;
			right: 0;
		}
		.indicatorQueue {
			position: absolute;
			left: 205px;
			top: 10px;
			font-size: .8em;
			font-weight: bold;
			color: var(--clrTEXT);
			cursor: pointer;
			background: var(--clrBG_l2);
			border-radius: 3px;
			padding: 2px 4px;
			&:hover {
				color: var(--clrTEXT_HOVER);
				background: var(--clrBG_l1);
			}
		}
	}
	.timeline {
		width: 0;
		height: 2px;
		background: var(--clrACCENT);
		display: block;
		position: absolute;
		z-index: 1;
		top: 48px;
	}
}

.allAlbums {
	overflow-y: auto;
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 340px;
	right: 0;
	padding: 10px;
	.albumsGrid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(210px, auto));
	}
}

#splash {
	background: var(--clrBG);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 50px;
	text-align: center;
	z-index: 100000;
	transition-duration: 1s;
	overflow: hidden;
	img {
		outline: none;
		animation: rotating .7s linear infinite;
		position: absolute;
		bottom: calc(50% - 50px);
		width: 100px;
	}
	@keyframes rotating {
	  from {
	    -webkit-transform: rotate(0deg);
	    transform: rotate(0deg);
	  }
	  to {
	    -webkit-transform: rotate(360deg);
	    transform: rotate(360deg);
	  }
	}
	&.mask {
		transition-duration: 1s;
		opacity: 0;
	}
}
.splashload {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: var(--clrBG);
	text-align: center;
	font-size: 1.2em;
	padding: 100px 40px 40px 40px;
	font-style: italic;
	z-index: 20000;
}
.versionNote {
	display: block;
	font-style: normal;
    max-width: 60%;
    max-height: calc(100% - 200px);
    background: var(--clrBG_l2);
    padding: 10px;
    z-index: 20001;
	border-radius: 10px;
	margin: 1em auto;
	font-size: .9em;
	h1 {font-size: 1.1em; margin-top: 0;}
	ul, ol {
		margin-left: -15px;
		text-align: left;
	}
	.bt {
		background: var(--clrTEXT);
		color: var(--clrBG);
		padding: 15px 20px;
		border-radius: 8px;
		margin: 10px 0 0;
		cursor: pointer;
		&:hover {background: var(--clrTEXT_HOVER);}
	}
}